@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
#search-container {
    display: flex;
    margin-left: auto;
    align-items: center; 
    background-color: #f8f8f8; 
    border-radius: 5px; 
    padding: 0.5rem; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#search-input {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 0.5rem; 
    font-size: 16px; 
}

#search-btn {
    background-color: rgb(16, 123, 159); 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    font-size: 16px; 
    cursor: pointer; 
}

#search-btn:hover {
    background-color: #0056b3; 
}
#description-container {
    padding: 1.5px;
    margin: auto;
    max-width: 900px;
    text-align: center; 
}

h2 {
    font-size: 28px; 
    color: black; 
    text-align: center; 
    
}

#description-container p {
    font-size: 20px; 
    line-height: 1.8;
    color: black; 
    text-align: center; 
    
}
.stats-container {
    display: flex;
    align-items: center;
}
.stats-container:hover {
    cursor: pointer;
    box-shadow:  0 0 30px lightblue;
}
.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}